/*

	Red: #601114;
	Grey #7B7B7C;

*/

html {
	margin:0;padding:0;
}
body {
	font-size:12px;
	color:#7C7C7D;
	line-height:1.3;
	background:#000;
	font-family: 'Noto Sans', sans-serif;
	text-transform:lowercase;
}
a {
	color:#7C7C7D;
	text-decoration:none;
}
a:hover {
	opacity:0.5;
}

#body2 {
	width:20%;
	height:125px;
	background:url(assets/img/bgLeftLines.gif) repeat-x 0 0px;
	position:absolute;top:27px;left:0;
}
#body3 {
	width:80%;
	height:125px;
	background:transparent url(assets/img/bgRightLines.gif) repeat-x 0 0;
	position:absolute;top:27px;right:0;
}
.specialFont {
	font-family: 'Economica', sans-serif;
}
.container {
	width:80%;
	margin:0 auto;
}
/************ HEADEE *******************/
header {
	height:125px;
	width:100%;
	margin-bottom:40px;
	position:relative;
}
header h2 {
	width:432px;
	height:125px;
	background:url(assets/img/lgoSimonLait.jpg) no-repeat 0 0;
	left:-80px;top:28px;
	position:absolute;
}
header h2 a {
	width:432px;
	height:125px;	
	display:block;
}
nav.font {
	position:absolute;
	right:0;top:7px;
}
nav.font li {
	font-family: 'Economica', sans-serif;
	font-size:190%;
	font-weight:bold;
	display:inline;
	padding-left:20px;
}
nav.font li a {
	color:#601114;
}
/*************** SIDEBAR *************/
.widget {
	margin-bottom:20px;
}
.textwidget {
	width:200px;
	margin:20px auto;
}
.widgettitle, .story h2, .story h1 {
	font-family: 'Economica', sans-serif;
	color:#601114;
	font-size:170%;
	border-bottom:2px solid #601114;
	padding-bottom:2px;
	margin-bottom:15px;
}
.story h2 a {
	color:#601114;
}
.widgettitle {
	color:#7B7B7C;
	border-bottom:2px solid #7B7B7C;
}

#sidebar {
	width:25%;
	float:right;
	margin-top:6px;

}
#sidebar li {
	list-style:none;
}

/*************** CONTENT *************/
.content {
	width:70%;
	padding-right:20px;
	min-height:500px;
}
.story h2, .story h1 {
	font-size:220%;
}
.story {
	padding-bottom:20px;
	margin-bottom:20px;
}
.theContent {
	line-height:1.6;
	text-transform:none;
	overflow:auto;
}
.theContent a {
	color:#B7B7B7;
}
.teaser-image-post {
	float:left;
	margin:0 20px 20px 0;
}
.theContent img {
	border:1px solid #7B7B7C;
	-webkit-box-shadow: inset 0px -1px 13px 1px #601114;
    box-shadow: 0 -1px 13px 1px #601114;
}
.theContent code {
	background: #D9D9E0;
    border: 2px solid #601114;
    color: #000000;
    display: block;
    margin-bottom: 10px;
    padding: 0 10px;
}
.more-link {
	float:right;
	margin-top:20px;
	color: #601114 !important;
    font-size: 100%;
    font-weight: bold;
	text-decoration:none;
}
.clear {
	clear:both;
	height:0;
	line-height:0;
}

/**************************** FOOTER ***************/
.footerContainer {
	background:url(assets/img/bgLeftLines.gif) repeat-x 0 -61px;
}
footer {
	padding:20px 0 0;
	text-align:right;
	font-size:90%;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.small {
	font-size:85%;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.clearl {
	clear:left;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
