
h1,h2,h3,h4,h5,h6,p {
	margin:0 0 10px;
}
h1 {
	font-size:180%;
}
h2 {
	font-size:160%;
}
h3 {
	font-size:140%;
}
h4 {
	font-size:120%;
}
h5 {
	font-size:100%;
}
h6 {
	font-size:80%;
}
p {
	font-size:100%;
}

input[type="text"],textarea,select {
	overflow:auto;
	margin:0;
	width:100%;
	padding:3px;
	-webkit-box-shadow: inset -1px -1px 1px 1px #a4a4a4;
    box-shadow: inset -1px -1px 1px 1px #a4a4a4;
}
input.submit {
	
}

.clearer {
	clear:both;
	height:0;
	line-height:0;
	margin:0;
	padding:0;
}
.center {
	text-align:center;
	margin: 0 auto;
}

.floatimgleft {
	float:left;
	display:inline;
}
.floatimgright {
	float:right;
	display:inline;
	margin: 0 0 20px 20px;
}

.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}
.underline {
	text-decoarion:underline;
}

.margintop {
	margin:10px 0 0;
}
.marginbot {
	margin:0 0 10px;
}
.marginleft {
	margin:0 0 0 10px;
}
.margintopbot {
	margin:10px 0;
}
.marginright {
	margin:0 10px 0 0;
}
.marginleftright {
	margin:0 10px;
}
.nomargin {
	margin:0
}
.box-shadow {
	-webkit-box-shadow:  0px 1px 1px 1px #8d8d8d;
    box-shadow:  0px 1px 1px 1px #8d8d8d;
}
